// Todas las animaciones hechas con mixin

//----------------------------------------------
@mixin slideDown($time: 1s, $height: 100px)
{
	// FIXME: Requiere hacer toggle de will-change para mayor optimizacion
    max-height: 0;
    overflow: hidden;
    animation: slideDown $time forwards;
    @keyframes slideDown {
        to {
            max-height: $height;
        }
    }
}

@mixin slideUp($time: 1s, $height: 100px)
{
	// FIXME: Requiere hacer toggle de will-change para mayor optimizacion
    max-height: $height;
    overflow: hidden;
    animation: slideUp $time forwards;
    @keyframes slideUp {
        to {
            max-height: 0;
        }
    }
}
//----------------------------------------------
@mixin arrowUpDown($time : .5s, $cubicBezier: ease)
{
	transform: translate3d(0,0,0);
	animation: arrowUpDown $time infinite alternate $cubicBezier;;
	@keyframes arrowUpDown {
		to {
			transform: translate3d(0,-2px,0);			
		}
	}
}
@mixin arrowLeftRight($time : .5s, $cubicBezier: ease)
{
	transform: translate3d(0,0,0);
	animation: arrowLeftRight $time infinite alternate $cubicBezier;
	@keyframes arrowLeftRight {
		to {
			transform: translate3d(-2px,0,0);			
		}
	}
}
//----------------------------------------------
@mixin twinkle($time : .5s, $cubicBezier: ease)
{
	opacity: 1;
	animation: twinkle $time infinite alternate $cubicBezier;
	@keyframes twinkle {
		to {
			opacity: 0;			
		}
	}
}
//----------------------------------------------






// TODO Refactorisar
// // Animacion de las bars
// $animationBarsOne: animationBarsOne 3s infinite;
// @keyframes animationBarsOne {
//     from {background-position: 0 0;}
//     to {background-position: 60px 0;}
// }

// // Animacion de fondo de las bars
// $animationBackBars: animationBackBars 1s infinite;
// @keyframes animationBackBars {
//     from {opacity: 0;width: 0}
//     40% {opacity: .3}
//     to {opacity: 0;width:100%;}
// }
