// libreria ed-grid
$cssCore    : false;
$cssHelpers : false;
$devMode    : false;
// Breakpoints
$breakpoints : (
  s  : em(320px),
  m  : em(640px),
  l  : em(1024px),
  xl : em(1440px)
);
// $gutter : em(16px);
@import "ed-grid/ed-grid";

// configuraciones de gregorlopezdev
@import "function";
// @import "placeholder";