// LIBRERIA EDGRID
$cssCore    : false;
$cssHelpers : false;
$devMode    : false;
// BREAKPOINTS DE LA LIBRERIA
// $breakpoints : (
//   xs: 0,
//   s  : 320px,
//   m  : 640px,
//   l  : 1024px,
//   xl : 1440px
// );
@import "ed-grid/ed-grid";

// typografias
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i|Open+Sans:700|Megrim');

// Codigo reutilizable
@import "function";
@import "variables";
@import "animation";
@import "placeholder";
@import "mixin";
