// DIFERENTES COLORES UTILIZADOS EN EL PROYECTO
$colors: (
	firstColor: #371b1c,
	secondColor: #a5402d,
	darkColor: #282d31,
	textColor: #53575a,
	borderColor: #dfe0e0,
	bodyBg: #fcfcfc,
	alertColor: #ff3c32,
	successColor: #13a059,
	warningColor: #fba905,
	html: #f56a3f,
	css: #4ea4de,
	js: #f1e03c,
	git: #f1544c,
	sass: #d14d9a,
	pug: #efcca3,
	shadow: rgba(0,0,0,.1)
);

// FUNCION PARA EXTRAER COLOR
@function color($color) {
	@return map-get($colors, $color)
};

// DIFERENTES TAMAÑOS DE FUENTES DEL PROYECTO
$texts: (
	t1: 36px,
	t2: 30px,
	t3: 24px,
	normal: 20px,
	small: 16px,
	smaller: 14px
);

// FUNCION PARA EXTRAER EL TAMAÑO DE LA FUENTE
@function text($text) {
	@return map-get($texts, $text)
};

// LISTA DE Z-INDEX
$zindexs: (
	one: 100,
	two: 200,
	three: 300,
	four: 400,
	five: 500
);

// FUNCION PARA EXTRAER Z-INDEX
@function zindex($zindex) {
	@return map-get($zindexs, $zindex)
};
