// Diferentes colores utilizados en el proyecto
$colors: (
	one: #2f343f,
	two: #b0b9c5,
	grayOne: #393E46,
	grayTwo: #5C636E,
	cream: #F3F3F3,
	alert: #FA4659,
	success: #38C6BD,
	warning: #FA9856,
	html: #f56a3f,
	css: #4ea4de,
	js: #f1e03c,
	git: #f1544c,
	sass: #d14d9a,
	pug: #efcca3,
	shadow: rgba(0,0,0,.1)
);

// Funcion para extraer color
@function color($color) {
	@return map-get($colors, $color)
};

// Diferentes tamaños de fuentes del proyecto
$texts: (
	t1: 36px,
	t2: 30px,
	t3: 24px,
	normal: 20px,
	small: 16px,
	smaller: 14px
);

// Funcion para extraer el tamaño de la fuente
@function text($text) {
	@return map-get($texts, $text)
};

// Lista de z-index
$zindexs: (
	one: 100,
	two: 200,
	three: 300,
	four: 400,
	five: 500
);

// Funcion para extraer z-index
@function zindex($zindex) {
	@return map-get($zindexs, $zindex)
};
