// FRAGMENTOS DE CODIGO REUTILIZABLES EN EL PROYECTOS

// -------------------ESTILOS COMPARTIDOS ENTRE SECCIONES-----------------------
// ESTILOS PARA LOS TITULOS DE CADA SECCION
%titleSection {
    width: 100%;
    font: text(t2) $openSans;
    margin-top: 0;
    margin-bottom: ($gutter * 2);
    text-align: center;
    color: color(one);
    text-transform: uppercase;;
    // border-bottom: 2px solid color(one);
}

// ESTILOS PARA LOS TEXTOS INFORMATIVOS DE CADA SECCION
%textSection {
    margin: 0;
    text-align: center;
    line-height: 1.5;
}
// -----------------END ESTILOS COMPARTIDOS ENTRE SECCIONES---------------------


// ----------------------------SECTION ABOUTME---------------------------------

// -------------------------END SECTION ABOUTME---------------------------------
