// VARIABLES REAUTILIZABLES DE PROPOSITO GENERAL

// FUENTE DE ADORNOSs
$megrim: 'Megrim', cursive;
// FUENTE DE TITULOS
$openSans: 'Open Sans', sans-serif;
// FUENTE DE TEXTOS
$lato: 'Lato', sans-serif;
// REDONDEADO DE BORDER
$radius: em(3px);
// VARIABLE PARA HACER SEPARACIONES
$gutter : 16px;
