extends ../templates/bannerHeader

append bannerHeader_title-one
	p.bannerHeader_title-one 
		| No esta mal, no poder recordar algo!
append bannerHeader_content-one
	p.bannerHeader_content-one
		| Esta es mi guia o cuaderno para anotar esas cositas que no deseo olvidar y poder consultarlas siempre que las necesite
append bannerHeader_content-two
	//- p.bannerHeader_content-two
		| Que el codigo te acompañe