extends ../templates/bannerHeader

append bannerHeader_title-one
	p.bannerHeader_title-one 
		| Al mas experimentado Maestro Jedi del Frontend lo puede abandonar la fuerza si no la entrena constantemente
append bannerHeader_content-one
	p.bannerHeader_content-one
		| Esta es mi guía o cuaderno para anotar esas cositas que no deseo olvidar y poder consultarlas siempre que las necesite
append bannerHeader_content-two
	//- p.bannerHeader_content-two
		| Que el codigo te acompañe
		| La memoria nos falla a todos, excepto a las maquinas