extends ../templates/banner-header

append bannerHeader-title_one
	p.bannerHeader-title_one Desarrolador Frontend Padawan
append bannerHeader-content_one
	p.bannerHeader-content_one
		| ¿De que lado estas? front, back... La lucha interminable entre lo que se ve,
		| y lo que esta detras de las paginas web.
append bannerHeader-content_two
	p.bannerHeader-content_two
		| Que el codigo te acompañe!
