extends ../templates/bannerHeader

append bannerHeader_title-one
	p.bannerHeader_title-one Proyectos realizados como Desarrollador Frontend
append bannerHeader_content-one
	//- p.bannerHeader_content-one
		| ¿De que lado estas? front, back... La lucha interminable entre lo que se ve,
		| y lo que esta detras de las paginas web.
append bannerHeader_content-two
	//- p.bannerHeader_content-two
		| Que el codigo te acompañe