article.banner
	section.bannerTitle
		p.bannerTitleOne Desarrolador Frontend Padawan
	section.bannerContent
		p.bannerContentOne
			| ¿De que lado estas? front, back... La lucha interminable entre lo que se ve,
			| y lo que esta detras de las paginas web.
		p.bannerContentTwo
			| Que el codigo te acompañe