extends ../templates/banner-header

append bannerHeader-title_one
	p.bannerHeader-title_one 
		| Al mas experimentado Maestro Jedi del Frontend lo puede abandonar la fuerza si no la entrena constantemente
append bannerHeader-content_one
	p.bannerHeader-content_one
		| Esta es mi guía o cuaderno para anotar esas cositas que no deseo olvidar y poder consultarlas siempre que las necesite
