article.bannerHeader
	.bannerHeader_title
		p.bannerHeader_title-one Desarrolador Frontend Padawan
	.bannerHeader_content
		p.bannerHeader_content-one
			| ¿De que lado estas? front, back... La lucha interminable entre lo que se ve,
			| y lo que esta detras de las paginas web.
		p.bannerHeader_content-two
			| Que el codigo te acompañe