article.banner
	section.banner_title
		p.banner_title-one Desarrolador Frontend Padawan
	section.banner_content
		p.banner_content-one
			| ¿De que lado estas? front, back... La lucha interminable entre lo que se ve,
			| y lo que esta detras de las paginas web.
		p.banner_content-two
			| Que el codigo te acompañe