article(id="experience").experience
	h2.experience_title Experiencia
	//- p.experience-text
	//- 	|	Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum iste, minus ratione nam vel asperiores blanditiis vitae nulla expedita voluptatum, aspernatur totam ad reiciendis! Id porro praesentium quae hic optio.Illo praesentium.
	section.experience_content
		each val in ["","","",""]
			.experience_content-box
				p.experience_content-title
				each val in ["","",""]
					p.experience_content-text
				p.experience_content-footer
