article#experience.experience
	h2.experience-title Experiencia
	//- p.experience-text
	//- 	|	Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum iste, minus ratione nam vel asperiores blanditiis vitae nulla expedita voluptatum, aspernatur totam ad reiciendis! Id porro praesentium quae hic optio.Illo praesentium.
	section.experience-content
		each val in ["","","",""]
			.experience-content_box
				p.experience-content_title
				each val in ["","",""]
					p.experience-content_text
				p.experience-content_footer
