nav(id="menuSticky").menu
	ul.menu_list
		li.menu_list-item: a(href="/").menu_list-link.logo Gregor lopez
		li.menu_list-item: a(href="/#studies").menu_list-link.icon-study
		li.menu_list-item: a(href="/#jobs").menu_list-link.icon-work
		li.menu_list-item: a(href="personal.html").menu_list-link.icon-personal
		li.menu_list-item: a(href="guide.html").menu_list-link.icon-guide