nav(id="menu").menu
	ul.menu_list
		li.menu_list-item: a(href="/").menu_list-link.logo Gregor lopez
		//- li.menu_list-item: a(href="/").menu_list-link.icon-home
		li.menu_list-item: a(href="/#studies").menu_list-link.icon-study
		li.menu_list-item: a(href="/#experience").menu_list-link.icon-experience
		li.menu_list-item: a(href="/#personal").menu_list-link.icon-projects
		li.menu_list-item: a(href="/guide.html").menu_list-link.icon-guide
	div(id="scrollupButton").menu_scrollup.icon-arrow-double-up