nav.menu
	ul.menuList
		li.menuItem: a(href="#").menuLink.logo.icon-globe
		li.menuItem: a(href="#").menuLink.icon-study
		li.menuItem: a(href="#").menuLink.icon-work
		li.menuItem: a(href="#").menuLink.icon-guide
		li.menuItem: a(href="#").menuLink.icon-me