nav#menu.menu
	ul.menu-list
		li.menu-list_item: a(href="/").menu-list_link.logo Gregor lopez
		//- li.menu-list-item: a(href="/").menu-list-link.icon-home
		li.menu-list_item: a(href="/#studies").menu-list_link.icon-study
		li.menu-list_item: a(href="/#experience").menu-list_link.icon-experience
		li.menu-list_item: a(href="/#projects").menu-list_link.icon-projects
		//- li.menu-list_item: a(href="/guide.html").menu-list_link.icon-guide
	div#scrollupButton.menu-scrollup
		span.icon-arrow-up
