article#projects.projects
	h2.projects-title Proyectos Realizados como Desarrollador
	p.projects-text
		|	Esto es una muestra de como van a estar organizados mis proyectos, solo espera y los reales estarán aquí mas rápido de lo que imaginas.
	section.projects-content
		each val in [1,2,3,4,5,6]
			figure.projects-content_figure
				.projects-content_copy
					p.projects-content_text Texto informativo de cada pagina
					if val !== 2
						img(src="/images/projects-" + val + ".jpg", alt="").projects-content_img
					else
						img(src="/images/projects-" + val + ".jpeg", alt="").projects-content_img
				figcaption.projects-content_figcaption
					a().projects-content_link Visitar Pagina
