article(id="projects").projects
	h2.projects-title Proyectos Realizados como Desarrollador
	p.projects-text
		|	Esto es una muestra de como van a estar organizados mis proyectos, solo espera y los reales estarán aquí mas rápido de lo que imaginas.
	section.projects-content
		figure.projects-content_figure
			img(src="/images/projects-1.jpg", alt="").projects-content_img
			figcaption.projects-content_figcaption
				a().projects-content_link Visitar Pagina
		figure.projects-content_figure
			img(src="/images/projects-2.jpeg", alt="").projects-content_img
			figcaption.projects-content_figcaption
				a().projects-content_link Visitar Pagina
		figure.projects-content_figure
			img(src="/images/projects-3.jpg", alt="").projects-content_img
			figcaption.projects-content_figcaption
				a().projects-content_link Visitar Pagina
		figure.projects-content_figure
			img(src="/images/projects-4.jpg", alt="").projects-content_img
			figcaption.projects-content_figcaption
				a().projects-content_link Visitar Pagina
		figure.projects-content_figure
			img(src="/images/projects-5.jpg", alt="").projects-content_img
			figcaption.projects-content_figcaption
				a().projects-content_link Visitar Pagina
		figure.projects-content_figure
			img(src="/images/projects-6.jpg", alt="").projects-content_img
			figcaption.projects-content_figcaption
				a().projects-content_link Visitar Pagina