article.studiesContent
  section#studies.studies
    h2.studies-title Estudios
    p.studies-text
      | Mis conocimientos en el área del <strong>frontend</strong> los he adquirido en su mayoría por diversos medios online, ya sean cursos, workshops, o la documentación oficial de las diferentes tecnologías. Así como también colaborando con diversas personas en varias comunidades siendo las dos que mas me han gustado hasta ahora <a href="https://app.ed.team/" target="_blank">edteam</a> y <a href="https://platzi.com" target="_blank">platzi.</a>
    p.studies-text
      | Acá una lista de los cursos que he realizado en ambas:
    section.studies-details
      button.studies-details_button Cursos en Platzi
    seccion.studies-details
      button.studies-details_button Cursos en Edteam
    section.studies-technologies
      h3.studies-technologies_title Tecnologías y herramientas con las he trabajado
      - let images = ["https://cdn.svgporn.com/logos/html-5.svg","https://cdn.svgporn.com/logos/css-3.svg","https://cdn.svgporn.com/logos/javascript.svg","https://cdn.svgporn.com/logos/git-icon.svg","https://cdn.svgporn.com/logos/pug.svg","https://cdn.svgporn.com/logos/sass.svg","https://cdn.svgporn.com/logos/react.svg","https://cdn.svgporn.com/logos/gulp.svg"]
      each image in images
        figure.studies-technologies_item
          img.studies-technologies_image(src=`${image}`)
          
