article(id="studies").studies
	h2.studies-title Estudios
	p.studies-text
		| Mis conocimientos en el área del <strong>frontend</strong> los he adquirido en su mayoría por diversos medios online, ya sean cursos, workshops, o la documentación oficial de las diferentes tecnologías. Así como también colaborando con diversas personas en varias comunidades siendo las dos que mas me han gustado hasta ahora <a href="https://app.ed.team/" target="_blank">edteam</a> y <a href="https://platzi.com" target="_blank">platzi.</a>
	p.studies-text
		| Acá una lista de los cursos que he realizado en ambas:
	section.studies-details
		h3.studies-details_title.icon-arrow-right Cursos en Platzi
		.studies-details_content
			a.studies-details_link(href="https://platzi.com/@Gregorlopezdev/")
				| Mi perfil
			a.studies-details_link(href="https://platzi.com/clases/git-github/")
				| Git y Github
			a.studies-details_link(href="https://platzi.com/clases/html5-css3/")
				| Desarrollo web
			a.studies-details_link(href="https://platzi.com/clases/responsive-design/")
				| Responsive desing
			a.studies-details_link(href="https://platzi.com/clases/fw-frontend/")
				| Bootstrap y foundations
			//- a.studies-details_link(href="https://platzi.com/clases/ingenieria/")
				| Fundamentos de la ingeniería de software
			a.studies-details_link(href="https://platzi.com/clases/animaciones-web/")
				| Animaciones
			a.studies-details_link(href="https://platzi.com/clases/postcss/")
				| Postcss
	seccion.studies-details
		h3.studies-details_title.icon-arrow-right Cursos en Edteam
		.studies-details_content
			a.studies-details_link(href="https://app.ed.team/curso/15")
				| Html desde cero
			a.studies-details_link(href="https://app.ed.team/curso/8")
				| Css desde cero
			a.studies-details_link(href="https://app.ed.team/curso/27")
				| Sass desde cero
			a.studies-details_link(href="https://app.ed.team/curso/19")
				| Javascript desde cero
			a.studies-details_link(href="https://app.ed.team/curso/12")
				| Git desde cero
	.studies_box
		each val in ["","","","",""]
			.studies_box-bar