extends ../templates/template-base

//- TITULO Y ENLACE A LA HOJA DE ESTILOS DE ESTE DOCUMENTO
append config
	-pageTitle = "Gregorlopezdev"
	-cssLink = "css/index.css"

append body
	include ../components/menu
	header.header
		include ../components/banner-header_index
	include ../components/aboutme
	include ../components/studies
	include ../components/experience
	include ../components/projects
	footer.footer
		include ../templates/banner-footer
append script
	script(src="js/scripts.js")
