@import url("https://fonts.googleapis.com/css?family=Lato:400,400i|Open+Sans:700|Megrim");
*,:after,:before{
  box-sizing:border-box;
}

body{
  margin:0;
  font-family:sans-serif;
}

img{
  max-width:100%;
  height:auto;
}

a{
  text-decoration:none;
}

a:hover{
  text-decoration:underline;
}

.content_title,.ed-container{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  max-width:1200px;
  margin-left:auto;
  margin-right:auto;
  width:100%;
}

.ed-item{
  margin:0;
  padding-left:.9375em;
  padding-right:.9375em;
  width:100%;
}

.ed-item.ed-container{
  padding-left:0;
  padding-right:0;
}
.content_title{
  color:#393e46;
  font:24px Lato,sans-serif;
  margin:80px auto;
  padding:0 48px;
  text-align:center;
}
