@import url("https://fonts.googleapis.com/css?family=Lato:400,400i|Open+Sans:700|Megrim");
*,:after,:before{
  box-sizing:border-box;
}

body{
  margin:0;
  font-family:sans-serif;
}

img{
  max-width:100%;
  height:auto;
}

a{
  text-decoration:none;
}

a:hover{
  text-decoration:underline;
}

.aboutme,.bannerFooter,.bannerHeader,.ed-container,.experience,.menu-list,.projects,.studies{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  max-width:1200px;
  margin-left:auto;
  margin-right:auto;
  width:100%;
}

.ed-item{
  margin:0;
  padding-left:.9375em;
  padding-right:.9375em;
  width:100%;
}

.ed-item.ed-container{
  padding-left:0;
  padding-right:0;
}
.aboutme-title,.experience-title,.projects-title,.studies-title{
  width:100%;
  font:30px Open Sans,sans-serif;
  margin-top:0;
  margin-bottom:32px;
  text-align:center;
  color:#2f343f;
  text-transform:uppercase;
}

.aboutme-text,.projects-text,.studies-text{
  margin:0;
  text-align:center;
  line-height:1.5;
}

.projectsContent,.studiesContent{
  -webkit-clip-path:polygon(0 50px,100% 0,100% calc(100% - 50px),0 100%);
          clip-path:polygon(0 50px,100% 0,100% calc(100% - 50px),0 100%);
  background-color:rgba(176,185,197,.5);
  padding-top:48px;
  padding-bottom:48px;
  margin-bottom:48px;
}

.projects,.studies{
  padding:32px;
}

@media screen and (min-width:640px){
  .projects,.studies{
    padding:48px 80px;
  }
}

body{
  background-color:#f3f3f3;
}

.menu{
  position:absolute;
  left:0;
  right:0;
  z-index:1;
}

.menu-list{
  margin:0 auto;
  width:100%;
  display:-ms-grid;
  display:grid;
  -ms-grid-columns:(1fr)[12];
      grid-template-columns:repeat(12,1fr);
  grid-gap:.3125em;
  padding:16px 0;
  list-style:none;
}

.menu-list_item{
  text-align:center;
  -ms-grid-column:span 4;
      grid-column:span 4;
}

@media screen and (min-width:640px){
  .menu-list_item{
    -ms-grid-column:span 1;
        grid-column:span 1;
    text-align:left;
  }
}

.menu-list_item:first-child{
  -ms-grid-column:span 12;
      grid-column:span 12;
  margin-bottom:8px;
}

.menu-list_item:first-child>.logo{
  font:30px Megrim,cursive;
  padding:0;
}

@media screen and (min-width:640px){
  .menu-list_item:first-child{
    text-align:left;
    margin-bottom:0;
    -ms-grid-column:span 9;
        grid-column:span 9;
  }
}

.menu-list_link{
  color:#f3f3f3;
  display:inline-block;
  padding:5.33333px;
  font-size:16px;
}

.menu-list_link:hover{
  color:#fa4659;
  text-decoration:none;
}

@media screen and (min-width:640px){
  .icon-study:after{
    content:"Estudios";
  }
  .icon-experience:after{
    content:"Experiencia";
  }
  .icon-projects:after{
    content:"Proyectos";
  }
  .icon-experience:before,.icon-projects:before,.icon-study:before{
    position:relative;
    top:1px;
    margin-right:5.33333px;
  }
}

.menu-scrollup{
  display:none;
  position:fixed;
  bottom:35px;
  right:55px;
  padding:5.33333px 8px;
  color:#f3f3f3;
  font-size:20px;
  background-color:#fa4659;
  border-radius:.1875em;
  cursor:pointer;
}

.menu-scrollup.active{
  display:block;
}

.menu-scrollup>span{
  display:inline-block;
  transform:translateZ(0);
  animation:a .5s infinite alternate ease-in;
}

@keyframes a{
  to{
    transform:translate3d(0,-2px,0);
  }
}

.menuSticky{
  position:fixed;
  background-color:#2f343f;
  width:100%;
}

.header{
  background-color:#2f343f;
  background-image:url(/images/banner1.jpeg);
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  background-position:bottom;
  position:relative;
  margin-bottom:48px;
}

.header,.header:before{
  -webkit-clip-path:polygon(0 0,100% 0,100% calc(100% - 50px),0 100%);
          clip-path:polygon(0 0,100% 0,100% calc(100% - 50px),0 100%);
  min-height:600px;
}

.header:before{
  content:"";
  width:100%;
  position:absolute;
  background-color:rgba(47,52,63,.8);
}

.bannerHeader{
  padding:48px 16px 80px;
  position:relative;
  -ms-flex-direction:column;
      flex-direction:column;
  -ms-flex-pack:center;
      justify-content:center;
  min-height:600px;
  color:#f3f3f3;
}

@media screen and (min-width:640px){
  .bannerHeader{
    padding:0 80px;
  }
}

.bannerHeader-title{
  text-align:center;
  font:36px Open Sans,sans-serif;
}

.bannerHeader-title_one{
  margin:0 0 8px;
}

.bannerHeader-content{
  text-align:center;
  font:20px Lato,sans-serif;
}

.bannerHeader-content_one,.bannerHeader-content_two{
  margin:0;
}

.aboutme{
  padding:0 16px;
  margin-bottom:48px;
  color:#5c636e;
  font:20px Lato,sans-serif;
}

@media screen and (min-width:640px){
  .aboutme{
    padding:0 80px;
  }
}

.aboutme-text>span{
  font-style:italic;
}

.aboutme-text:last-of-type,.aboutme-text:last-of-type.enable{
  max-height:0;
  overflow:hidden;
}

.aboutme-text:last-of-type.enable{
  animation:b 1s forwards;
}

@keyframes b{
  to{
    max-height:750px;
  }
}

@media screen and (min-width:640px){
  .aboutme-text:last-of-type.enable{
    max-height:0;
    overflow:hidden;
    animation:b 1s forwards;
  }
  @keyframes b{
    to{
      max-height:350px;
    }
  }
}

.aboutme-text:last-of-type.disable{
  max-height:750px;
  overflow:hidden;
  animation:c .6s forwards;
}

@keyframes c{
  to{
    max-height:0;
  }
}

@media screen and (min-width:640px){
  .aboutme-text:last-of-type.disable{
    max-height:350px;
    overflow:hidden;
    animation:c .6s forwards;
  }
  @keyframes c{
    to{
      max-height:0;
    }
  }
}

.aboutme-button{
  margin:16px auto;
  font-size:16px;
  display:inline-block;
  padding:.5rem 1rem;
  border:none;
  background-color:#b0b9c5;
  color:inherit;
  border-radius:.1875em;
  cursor:pointer;
  box-shadow:0 1px 2px #5c636e;
  transition:background-color .5s,color .5s,box-shadow .3s,transform .3s;
}

.aboutme-button:hover{
  background-color:#38c6bd;
  color:#f3f3f3;
  text-decoration:none;
}

.aboutme-button:focus{
  outline:none;
}

.aboutme-button:active{
  transform:scale3d(.98,.99,1);
  box-shadow:none;
}

.studies{
  color:#5c636e;
  font:20px Lato,sans-serif;
}

.studies-text>a{
  font-weight:700;
  color:#393e46;
}

.studies-text>a:hover{
  text-decoration:none;
  color:#fa4659;
}

.studies-text:last-of-type{
  width:100%;
  margin:16px auto;
}

.studies-details{
  width:100%;
  text-align:center;
  margin-bottom:16px;
}

@media screen and (min-width:640px){
  .studies-details{
    width:50%;
  }
}

.studies-details_button{
  font-size:16px;
  line-height:1.5;
  margin-top:8px;
  display:inline-block;
  padding:.5rem 1rem;
  border:none;
  background-color:#b0b9c5;
  color:inherit;
  border-radius:.1875em;
  cursor:pointer;
  box-shadow:0 1px 2px #5c636e;
  transition:background-color .5s,color .5s,box-shadow .3s,transform .3s;
}

.studies-details_button:hover{
  background-color:#38c6bd;
  color:#f3f3f3;
  text-decoration:none;
}

.studies-details_button:focus{
  outline:none;
}

.studies-details_button:active{
  transform:scale3d(.98,.99,1);
  box-shadow:none;
}

.studies-details_link{
  margin:0 auto;
  font:20px Lato,sans-serif;
  color:#5c636e;
  line-height:1.5;
}

.studies-details_link:hover{
  text-decoration:none;
  color:#fa4659;
}

.studies-technologies{
  display:-ms-grid;
  display:grid;
  -ms-grid-columns:(1fr)[4];
      grid-template-columns:repeat(4,1fr);
  grid-gap:16px;
  margin:0 auto;
}

.studies-technologies_title{
  font:20px Open Sans,sans-serif;
  text-align:center;
  color:#2f343f;
  -ms-grid-column:span 4;
      grid-column:span 4;
}

.studies-technologies_item{
  margin:0;
  -ms-grid-column:span 1;
      grid-column:span 1;
  display:-ms-flexbox;
  display:flex;
}

.studies-technologies_image{
  margin:auto;
  display:block;
  max-height:3.75em;
}

.experience{
  padding:0 16px;
  margin-bottom:48px;
}

@media screen and (min-width:640px){
  .experience{
    padding:0 80px;
  }
}

.experience-title{
  margin-bottom:48px;
}

.experience-content{
  display:-ms-grid;
  display:grid;
  -ms-grid-columns:(1fr)[4];
      grid-template-columns:repeat(4,1fr);
  grid-gap:16px;
  width:100%;
}

@media screen and (min-width:400px){
  .experience-content{
    grid-gap:0;
  }
}

.experience-content_box{
  -ms-grid-column:span 4;
      grid-column:span 4;
  padding:0 32px;
}

@media screen and (min-width:400px){
  .experience-content_box{
    padding:0 16px;
    position:relative;
  }
  .experience-content_box:before{
    content:"";
    position:absolute;
    width:15px;
    height:15px;
    border-radius:50%;
    background-color:#2f343f;
    top:40%;
    right:-9px;
  }
  .experience-content_box:hover:before{
    background-color:#fa4659;
  }
  .experience-content_box:nth-child(2n){
    right:2px;
    border-left:3px solid #2f343f;
  }
  .experience-content_box:nth-child(2n):before{
    left:-9px;
  }
  .experience-content_box:nth-child(odd){
    left:1px;
    border-right:3px solid #2f343f;
  }
  .experience-content_box:first-child{
    -ms-grid-column-span:2;
    -ms-grid-column:1;
        grid-column:1/span 2;
    -ms-grid-row-span:1;
    -ms-grid-row:1;
        grid-row:1/span 1;
  }
  .experience-content_box:nth-child(2){
    -ms-grid-column-span:2;
    -ms-grid-column:3;
        grid-column:3/span 2;
    -ms-grid-row-span:1;
    -ms-grid-row:2;
        grid-row:2/span 1;
  }
  .experience-content_box:nth-child(3){
    -ms-grid-column-span:2;
    -ms-grid-column:1;
        grid-column:1/span 2;
    -ms-grid-row-span:1;
    -ms-grid-row:3;
        grid-row:3/span 1;
  }
  .experience-content_box:nth-child(4){
    -ms-grid-column-span:2;
    -ms-grid-column:3;
        grid-column:3/span 2;
    -ms-grid-row-span:1;
    -ms-grid-row:4;
        grid-row:4/span 1;
  }
}

@media screen and (min-width:1024px){
  .experience-content_box:first-child{
    -ms-grid-column-span:1;
    -ms-grid-column:2;
        grid-column:2/span 1;
    -ms-grid-row-span:1;
    -ms-grid-row:1;
        grid-row:1/span 1;
  }
  .experience-content_box:nth-child(2){
    -ms-grid-column-span:1;
    -ms-grid-column:3;
        grid-column:3/span 1;
    -ms-grid-row-span:1;
    -ms-grid-row:2;
        grid-row:2/span 1;
  }
  .experience-content_box:nth-child(3){
    -ms-grid-column-span:1;
    -ms-grid-column:2;
        grid-column:2/span 1;
    -ms-grid-row-span:1;
    -ms-grid-row:3;
        grid-row:3/span 1;
  }
  .experience-content_box:nth-child(4){
    -ms-grid-column-span:1;
    -ms-grid-column:3;
        grid-column:3/span 1;
    -ms-grid-row-span:1;
    -ms-grid-row:4;
        grid-row:4/span 1;
  }
}

.experience-content_footer,.experience-content_text,.experience-content_title{
  height:10px;
  background-color:#b0b9c5;
  border-radius:.1875em;
  margin:8px auto;
}

@media screen and (min-width:640px){
  .experience-content_footer,.experience-content_text,.experience-content_title{
    height:12px;
  }
}

.experience-content_title{
  width:80%;
}

.experience-content_footer{
  width:60%;
}

.projectsContent{
  color:#5c636e;
}

.gallery,.projectsContent{
  font:20px Lato,sans-serif;
}

.gallery{
  max-width:2000px;
  margin:0 auto 32px;
  display:-ms-grid;
  display:grid;
  -ms-grid-columns:(1fr)[6];
      grid-template-columns:repeat(6,1fr);
}

.gallery-item{
  height:15.625em;
  margin:0;
  -ms-grid-column:span 6;
      grid-column:span 6;
  position:relative;
  overflow:hidden;
}

@media screen and (min-width:640px){
  .gallery-item{
    -ms-grid-column:span 3;
        grid-column:span 3;
  }
}

@media screen and (min-width:1024px){
  .gallery-item{
    -ms-grid-column:span 2;
        grid-column:span 2;
  }
}

.gallery-item_image{
  display:block;
  position:absolute;
  height:100%;
  width:100%;
  transform:translateZ(0);
  transition:transform 1s;
}

.gallery-item:hover .gallery-item_image{
  transform:translate3d(0,-100%,0);
}

.gallery-item_caption{
  height:100%;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-direction:column;
      flex-direction:column;
  -ms-flex-pack:center;
      justify-content:center;
  -ms-flex-align:center;
      align-items:center;
}

.gallery-item_copy{
  text-align:center;
  padding-left:16px;
  padding-right:16px;
}

.gallery-item_link{
  display:block;
  display:inline-block;
  padding:.5rem 1rem;
  border:none;
  background-color:#b0b9c5;
  color:inherit;
  border-radius:.1875em;
  cursor:pointer;
  box-shadow:0 1px 2px #5c636e;
  transition:background-color .5s,color .5s,box-shadow .3s,transform .3s;
}

.gallery-item_link:hover{
  background-color:#fa4659;
  color:#f3f3f3;
  text-decoration:none;
}

.gallery-item_link:focus{
  outline:none;
}

.gallery-item_link:active{
  transform:scale3d(.98,.99,1);
  box-shadow:none;
}

.footer{
  background-color:#2f343f;
  background-image:url(/images/footer1.jpeg);
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  background-position:top;
  position:relative;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-pack:center;
      justify-content:center;
  -ms-flex-align:end;
      align-items:flex-end;
}

.footer,.footer:before{
  -webkit-clip-path:polygon(0 50px,100% 0,100% 100%,0 100%);
          clip-path:polygon(0 50px,100% 0,100% 100%,0 100%);
  min-height:320px;
}

.footer:before{
  content:"";
  width:100%;
  position:absolute;
  background-color:rgba(47,52,63,.8);
}

.bannerFooter{
  position:relative;
  display:-ms-grid;
  display:grid;
  margin-bottom:16px;
  -ms-grid-columns:(1fr)[2];
      grid-template-columns:repeat(2,1fr);
  grid-gap:16px;
  color:#f3f3f3;
  font:20px Lato,sans-serif;
}

@media screen and (min-width:640px){
  .bannerFooter{
    padding:0 80px;
    margin-bottom:32px;
  }
}

.bannerFooter-contact{
  -ms-grid-column:span 2;
      grid-column:span 2;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-direction:column;
      flex-direction:column;
  -ms-flex-align:center;
      align-items:center;
  -ms-flex-pack:center;
      justify-content:center;
}

@media screen and (min-width:640px){
  .bannerFooter-contact{
    -ms-grid-column:span 1;
        grid-column:span 1;
  }
}

.bannerFooter-contact_text{
  margin:5.33333px 0;
}

.bannerFooter-social{
  -ms-grid-column:span 2;
      grid-column:span 2;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-pack:center;
      justify-content:center;
  -ms-flex-align:center;
      align-items:center;
}

@media screen and (min-width:640px){
  .bannerFooter-social{
    -ms-grid-column:span 1;
        grid-column:span 1;
  }
}

.bannerFooter-social_link{
  margin:5.33333px 0;
  line-height:.8;
  font-size:54px;
  color:#f3f3f3;
}

.bannerFooter-social_link:hover{
  text-decoration:none;
  color:#fa4659;
}

.bannerFooter-copyright{
  -ms-grid-column:span 2;
      grid-column:span 2;
  margin:24px;
  text-align:center;
  font-size:14px;
}

.bannerFooter-copyright_company{
  color:#38c6bd;
}

.modalStudies{
  position:fixed;
  top:0;
  width:100%;
  height:100vh;
  z-index:2;
  background-color:rgba(47,52,63,.8);
  display:-ms-flexbox;
  display:flex;
}

.modalStudies-content{
  margin:auto;
  width:90%;
  max-width:500px;
  background-color:#f3f3f3;
  border-radius:.1875em;
}

.modalStudies-content_item{
  display:-ms-grid;
  display:grid;
  -ms-grid-columns:(1fr)[4];
      grid-template-columns:repeat(4,1fr);
  font:20px Lato,sans-serif;
  color:#5c636e;
  margin:8px 0;
}

.modalStudies-content_boxone{
  -ms-grid-column:span 3;
      grid-column:span 3;
  display:-ms-flexbox;
  display:flex;
  padding-left:8px;
  padding-right:8px;
}

.modalStudies-content_boxtwo{
  -ms-grid-column:span 1;
      grid-column:span 1;
  display:-ms-flexbox;
  display:flex;
}

.modalStudies-content_paragraph{
  text-align:center;
  margin:auto;
}

.modalStudies-content_link{
  margin:auto;
  display:inline-block;
  padding:.5rem 1rem;
  border:none;
  background-color:#b0b9c5;
  color:inherit;
  border-radius:.1875em;
  cursor:pointer;
  box-shadow:0 1px 2px #5c636e;
  transition:background-color .5s,color .5s,box-shadow .3s,transform .3s;
}

.modalStudies-content_link:hover{
  background-color:#fa4659;
  color:#f3f3f3;
  text-decoration:none;
}

.modalStudies-content_link:focus{
  outline:none;
}

.modalStudies-content_link:active{
  transform:scale3d(.98,.99,1);
  box-shadow:none;
}
