extends templates/templateBase

append config
	-pageTitle = "Gregorlopezdev | Personal"
	-cssLink = "css/guide.css"

append body
	include components/menu
	header.header
		include components/bannerHeader-guide
	main.content
		//- include components/aboutme
		//- include components/studies
		//- include components/jobs
	footer.footer
		include templates/bannerFooter
append script
	script(src="js/components/menu.js")