extends templates/templateBase

//- TITULO Y ENLACE A LA HOJA DE ESTILOS DE ESTE DOCUMENTO
append config
	-pageTitle = "Gregorlopezdev | Guía"
	-cssLink = "css/guide.css"

append body
	include components/menu
	header.header
		include components/bannerHeader-guide
	section.content
		h2.content_title Esta pagina aun esta en construcción, no desesperes el camino a ser un Maestro Jedi toma su tiempo. 
	footer.footer
		include templates/bannerFooter
append script
	script(src="js/components/menu.js")
