extends templates/templateBase

append config
	-pageTitle = "gregorlopezdev"
	-cssLink = "css/index.css"

append body
	header.header
		include components/menu
		//- include components/bannerHeader
append script
	script(src="js/components/menu.js")