extends templates/templateBase

append config
	-pageTitle = "gregorlopezdev"
	-cssLink = "css/index.css"

append body
	include components/menu
	header.header
		include components/bannerHeader
	main.content
		include components/aboutme
		include components/studies
		include components/jobs
	footer.footer
		include components/footer
append script
	script(src="js/components/menu.js")