extends templates/templateBase

append config
	-pageTitle = "Gregorlopezdev"
	-cssLink = "css/index.css"

append body
	include components/menu
	header.header
		include components/bannerHeader-index
	main.content
		include components/aboutme
		include components/studies
		include components/experience
		include components/projects
	footer.footer
		include templates/bannerFooter
append script
	script(src="js/index.js")
	script(src="js/components/menu.js")