article.bannerHeader
	.bannerHeader_title
		block bannerHeader_title-one
			//- p.bannerHeader_title-one Desarrolador Frontend Padawan
	.bannerHeader_content
		block bannerHeader_content-one
			//- p.bannerHeader_content-one
				| ¿De que lado estas? front, back... La lucha interminable entre lo que se ve,
				| y lo que esta detras de las paginas web.
		block bannerHeader_content-two
			//- p.bannerHeader_content-two
				| Que el codigo te acompañe