<!-- Codigo traido desde facebook developer para insertar el chat de messenger  -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '207805346468641',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.12'
    });
  };
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/es_LA/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<div class="fb-customerchat"
  page_id="167089503865360"
  theme_color="#FA4659"
  logged_in_greeting="Hola! con que te puedo ayudar?"
  logged_out_greeting="Hola! con que te puedo ayudar?"
>
</div>
