block config
	include  ../config/config

doctype
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0 user-scalable=0, minimal-ui ")
		meta(name="description", content="Gregor Lopez | Desarrollador Frontend")
		title #{pageTitle}
		link(rel="stylesheet" href=cssLink)
		//- link(rel="shortcut icon" href="favicon.png")
		//- TODO FUENTE DE ICONOS
		<link href="https://file.myfontastic.com/gcio3eWv4LtExpQNRLkjHj/icons.css" rel="stylesheet">
		body
			block body
				include fbMessenger.html
			block script
