// CONTENEDOR BANNERHEADER

// ESTILOS QUE EL DAN FORMA AL ELEMENTO Y SU CAPA QUE SUPERPONE A LA IMAGEN
.header {
	background-color: $bgColorOfBH;
	background-image: $bgImageOfBH;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: $bgPositionImageBH;
	clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), 0 100%);
	min-height: $heightBH;
	position: relative;
	margin-bottom: ($gutter * 3);
	&::before {
		content: "";
		width: 100%;
		min-height: $heightBH;
		position: absolute;
		background-color: $layerColorBH;
		clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), 0 100%);
	}
}
// ESTILOS PARA EL CONTENIDO DENTRO DE BANNERHEADER
.bannerHeader {
	@include edContainer();
	padding: ($gutter * 3) $gutter ($gutter * 5);
	position: relative;
	flex-direction: column;
	justify-content: center;
	min-height: $heightBH;
	color: color(cream);


	@include from(m) {
		padding: 0 ($gutter * 5);
	}

	// SECCION DEL TITULO DEL HEADER
	&-title {
		text-align: center;
		font: text(t1) $openSans;
		&_one {
			margin: 0 0 ($gutter / 2);
			// color: color(cream);
		}
	}

	// SECCION DEL CONTENIDO DEL HEADER
	&-content {
		text-align: center;
		font: text(normal) $lato;

		&_one, &_two {
			margin: 0;
			// color: color(cream);
		}
	}
}
