// CONTENEDOR BANNERFOOTER

// ESTILOS QUE EL DAN FORMA AL ELEMENTO Y SU CAPA QUE SUPERPONE A LA IMAGEN
.footer {
	background-color: $bgColorOfBF;
	background-image: $bgImageOfBF;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: $bgPositionImageBF;
	clip-path: polygon(0 10%, 50% 0, 100% 10%, 100% 100%, 0 100%);
	min-height: $heightBF;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-end;

	&:before {
		content: "";
		width: 100%;
		min-height: $heightBF;
		position: absolute;
		background-color: $layerColorBF;
		clip-path: polygon(0 10%, 50% 0, 100% 10%, 100% 100%, 0 100%);
	}
}
// ESTILOS PARA EL CONTENIDO DENTRO DE BANNERFOOTER
.bannerFooter {
	@include edContainer();
	position: relative;
	// background-color: red;
	display: grid;
	margin-bottom: $gutter;
	grid-template-columns: repeat(2, 1fr);
	color: color(bodyBg);
	font: text(normal) $lato;

	@include from(m) {
		padding: 0 ($gutter * 5);
		margin-bottom: ($gutter * 2);
	}

	// SECCION DE CONTACTO
	&-contact {
		grid-column: span 2;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		@include from(m) {
			grid-column: span 1;
		}

		&_text {
			margin: ($gutter/3) 0;
		}
	}

	// SECCION DE REDES SOCIALES
	&-social {
		grid-column: span 2;
		display: flex;
		justify-content: center;
		align-items: center;

		@include from(m) {
			grid-column: span 1;
		}

		&_link {
			margin: ($gutter/3) 0;
			line-height: .1;
			font-size: (text(t1)*1.5);
			color: color(bodyBg);

			&:hover {
				text-decoration: none;
				color: color(alertColor);
			}
			@include from(m) {
				font-size: (text(t1)*2);
			}
		}
	}

	// SECCION DE COPYRIGHT
	&-copyright {
		grid-column: span 2;
		margin: ($gutter * 1.5);
		text-align: center;
		font-size: text(smaller);
	}
	// ESTILOS PARA EL lOGO DE EDGRID
	// &-bookshop {
	// 	grid-column: span 2;
	// 	text-align: center;
	// 	// position: relative;
	// 	// top: em(50px);
	// 	&_edgrid {
	// 		// display: inline-block;
	// 		&>img {
	// 			// display: block;
	// 			max-width: em(70px);
	// 			max-height: em(20px);
	// 		}
	// 	}
	// }
}
