// CONTENERDOR ABOUTME
.aboutme {
	@include edContainer();
	padding: 0 $gutter;
	margin-bottom: ($gutter * 3);
	color: color(grayTwo);
	font: text(normal) $lato;

	@include from(m) {
		padding: 0 ($gutter * 5);
	}

	// TITULO DE LA SECCION
	&-title {
		// ESTILOS POR DEFECTO DE LOS TITULOS DE CADA SECCION
		@extend %titleSection;
	}

	// SECIONES DE TEXTO
	&-text {
		// ESTILOS POR DEFECTO DE LOS TEXTOS DE CADA SECCION
		@extend %textSection;

		& > span {
			font-style: italic;
		}

		&:last-of-type {
      max-height: 0;
			overflow: hidden;

			&.enable {
        @include slideDown(1s, 750px);
        @include from (m) {
          @include slideDown(1s, 350px);          
        }
			}
			&.disable {
        @include slideUp(.6s, 750px);
        @include from (m) {
          @include slideUp(.6s, 350px);          
        }
      }
		}
	}
	&-button {
		margin: $gutter auto;
    font-size: text(small);
    @include button(
      color(two),
      inherit,
      color(success),
      color(cream)
    );
	}
}
