// CONTENERDOR ABOUTME
.aboutme {
	@include edContainer();
	padding: 0 $gutter;
	margin-bottom: ($gutter * 3);

	@include from(m) {
		padding: 0 ($gutter * 5);
	}

	// TITULO DE LA SECCION
	&-title {
		// ESTILOS POR DEFECTO DE LOS TITULOS DE CADA SECCION
		@extend %titleSection;
	}

	// SECIONES DE TEXTO
	&-text {
		// ESTILOS POR DEFECTO DE LOS TEXTOS DE CADA SECCION
		@extend %textSection;
		@extend %viewLarge;

		& > span {
			font-style: italic;
		}

		& > strong {
			color: rgba(color(firstColor), .8);
		}

		&:last-of-type {
			// display: none;
			// width: 100%;
			color: color(textColor);
			transform: scale(1,0);
			transform-origin: top center;
			transition: transform .5s;

			&.active {
				transform: scale(1,1);
				// padding: ($gutter / 2);
				// margin: $gutter $gutter 0;
				// border-right: 2px solid color(firstColor);
				// border-left: 2px solid color(firstColor);
				// background-color: color(borderColor);

				// display: block;
				// width: 100%;
				// padding: ($gutter / 2);
				// margin: $gutter $gutter 0;
			}

			@include from(l) {
				margin: $gutter ($gutter * 3) 0;
			}
		}
	}
	// ARROW BUTTON
	&-button {
		text-align: center;
		margin-top: $gutter;
		margin-left: auto;
		margin-right: auto;
		color: color(firstColor);
		font-size: text(t3);
		cursor: pointer;
		position: relative;
		// animation: $animationTopDown;
	}
}
