// CONTENERDOR ABOUTME
.aboutme {
	@include edContainer();
	padding: 0 $gutter;
	margin-bottom: ($gutter * 3);
	color: color(grayTwo);
	font: text(normal) $lato;

	@include from(m) {
		padding: 0 ($gutter * 5);
	}

	// TITULO DE LA SECCION
	&-title {
		// ESTILOS POR DEFECTO DE LOS TITULOS DE CADA SECCION
		@extend %titleSection;
	}

	// SECIONES DE TEXTO
	&-text {
		// ESTILOS POR DEFECTO DE LOS TEXTOS DE CADA SECCION
		@extend %textSection;

		& > span {
			font-style: italic;
		}

		&:last-of-type {
			max-height: 0;
			overflow: hidden;

			&.enable {
				@include slideDown(1.5s, 200px);
			}
			&.disable {
				@include slideUp(.5s, 200px);
			}

			@include from(l) {
				margin: $gutter ($gutter * 3) 0;
			}
		}
	}
	// ARROW BUTTON
	&-button {
		width: 100%;
		text-align: center;
		margin-top: $gutter;
		margin-left: auto;
		margin-right: auto;
		color: color(one);
		font-size: text(t3);
		cursor: pointer;
		@include arrowUpDown(.5s,ease-out);
	}
}
