// CONTENERDOR EXPERIENCE

// VARIABLES LOCALES
$treeLimit: 400px;
$alignment : -9px;

.experience {
	@include edContainer();
	padding: 0 $gutter;
	margin-bottom: ($gutter * 3);

	@include from(m) {
		padding: 0 ($gutter * 5);
	}

	// TITULO DE LA SECCION
	&-title {
		// ESTILOS POR DEFECTO DE LOS TITULOS DE CADA SECCION
		@extend %titleSection;
	}

	// SECIONES DE TEXTO
	&-text {
		// ESTILOS POR DEFECTO DE LOS TEXTOS DE CADA SECCION
		@extend %textSection;
	}

	// BOX CONTENEDORA DEL TREE DE EXPERIENCE
	&-content {
		display: grid;
		grid-template-columns: repeat(4,1fr);
		grid-gap: $gutter;
		width: 100%;

		@include from($treeLimit) {
			grid-gap: 0;
		}

		&_box {
			grid-column: span 4;
			padding: 0 ($gutter * 2);

			// CAMBIA COMO SE VERA LA DISTRIBUCION DEL TREE EN UN PUNTO EXACTO
			@include from($treeLimit) {
				padding: 0 $gutter;
				position: relative;

				// ESTILOS QUE CREAN EL PUNTO DE CADA BOX
				&::before {
					content: "";
					position: absolute;
					width: 15px;
					height: 15px;
					border-radius: 50%;
					background-color: color(borderColor);
					top: 40%;
					right: $alignment;
				}

				&:hover::before {
					background-color: color(alertColor);
				}

				// ESTILOS PARA POSICIONAR CADA PUNTO DE LAS BOX EN SU LUGAR
				&:nth-child(even) {
					right: 2px;
					border-left: 3px solid color(borderColor);

					&::before {
						left: $alignment;
					}
				}

				&:nth-child(odd) {
					left: 1px;
					border-right: 3px solid color(borderColor);
				}

				// POSICION DE CADA BOX EN LA GRID
				&:nth-child(1) {
					grid-column: 1 / span 2;
					grid-row: 1 / span 1;
				}
				&:nth-child(2) {
					grid-column: 3 / span 2;
					grid-row: 2 / span 1;
				}
				&:nth-child(3) {
					grid-column: 1 / span 2;
					grid-row: 3 / span 1;
				}
				&:nth-child(4) {
					grid-column: 3 / span 2;
					grid-row: 4 / span 1;
				}
			}

			// POSICION DE CADA BOX EN LA GRID EN VIEWLARGE
			@include from(l) {
				&:nth-child(1) {
					grid-column: 2 / span 1;
					grid-row: 1 / span 1;
				}
				&:nth-child(2) {
					grid-column: 3 / span 1;
					grid-row: 2 / span 1;
				}
				&:nth-child(3) {
					grid-column: 2 / span 1;
					grid-row: 3 / span 1;
				}
				&:nth-child(4) {
					grid-column: 3 / span 1;
					grid-row: 4 / span 1;

				}
			}
		}

		// ESTILOS COMPARTIDOS DE LOS ELEMENT QUE CONFORMAN CADA BOX
		&_title, &_text, &_footer  {
			height: $gutter;
			background-color: color(shadow);
			border-radius: $radius;
			margin-left: auto;
			margin-right: auto;
			margin-top: ($gutter / 3);
			margin-bottom: ($gutter / 3);
			position: relative;
			overflow: hidden;

			&::after {
				content: "";
				height: $gutter;
				position: absolute;
				background-color: color(bodyBg);
				// ANIMACION DE FONDO EN LAS BARRAS
				animation: $animationBackBars;
			}
		}

		&_title {
			width: 80%;
		}
		&_footer {
			width: 60%;
		}
	}
}
