.jobs {
	@include edContainer();
	padding: 0 $gutter*2;
	margin-bottom: $gutter*3;

	@include from(m) {
		padding: 0 $gutter*5;
	}
	
	&-title {
		width: 100%;
		font: text(t2) $openSans;
		margin-top: 0;
		margin-bottom: $gutter;
		text-align: center;
		color: color(firstColor);
		border-bottom: 2px solid color(firstColor);
	}
	
	&-text {
		margin: 0;
		font: text(normal) $lato;
		text-align: center;
		color: color(textColor);
	}
}
