.menu {
	position: absolute;
	left: 0;
	right: 0;
	z-index: zindex(three);
	
	&_list {
		@include edContainer;
		margin: 0 auto;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(12,1fr);
		grid-gap: em(5px);
		padding: $gutter 0;
		list-style: none;

		&-item {
			text-align: center;
			grid-column: span 3;

			@include from(l) {
				grid-column: span 1;
				text-align: left;
			}
			
			&:first-child {
				grid-column: span 12;
				margin-bottom: $gutter/2;

				& > .logo {
					font: text(t2) $fontLogo;
					padding: 0;
				}
				
				@include from(l) {
					padding-left: $gutter;
					text-align: left;
					margin-bottom: 0;
					grid-column: span 8;
				}
			}
		}
		&-link {
			color: color(bodyBg);
			display: inline-block;
			padding: em(5px);
			font-size: text(small);
			// position: relative;
			
			&:hover {
				color: color(alertColor);
				text-decoration: none;
			}

			@include from(m) {
				@at-root .icon-study::after {
					content: "Estudios";
					// vertical-align: middle;
					// padding-left: $gutter/3;
				}
				@at-root .icon-experience::after {
					content: "Experiencia";
					// vertical-align: middle;
					// padding-left: $gutter/3;
				}
				@at-root .icon-projects::after {
					content: "Proyectos";
					// vertical-align: middle;
					// padding-left: $gutter/3;
				}
				@at-root .icon-guide::after {
					content: "Guia";
					// vertical-align: middle;
					// padding-left: $gutter/3;
				}
				@at-root .icon-experience::before,
				.icon-guide::before,
				.icon-projects::before,
				.icon-study::before {
					// vertical-align: unset;
					position: relative;
					// left: -20px;
					top: 1px;
					margin-right: $gutter / 3;
				}
			}
		}
	}
	&_scrollup {
		display: none;
		position: fixed;
		bottom: 5%;
		right: 5%;
		padding: $gutter / 3;
		color: color(bodyBg);
		font-size: text(normal);
		background-color: color(alertColor);
		border-radius: $radius;
		cursor: pointer;
		&.active {
			display: block;
		}
	}
}

.menuSticky {
	position: fixed;
	background-color: color(bodyBg);
	width: 100%;
	box-shadow: $shadow;

	&-link {
		color: color(textColor);
	}
}
