// CONTENERDOR MENU
.menu {
	position: absolute;
	left: 0;
	right: 0;
	z-index: zindex(three);

	// ESTILOS DEL NAV DEL MENU
	&-list {
		@include edContainer;
		margin: 0 auto;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(12,1fr);
		grid-gap: em(5px);
		padding: $gutter 0;
		list-style: none;

		// ESTILOS PARA CADA ITEM DEL MENU
		&_item {
			text-align: center;
			grid-column: span 3;

			@include from(l) {
				grid-column: span 1;
				text-align: left;
			}

			// ESTILOS PARA EL PRIMER ITEM DEL MENU
			// EL CUAL ES EL LOGO DEL PROYECTO
			&:first-child {
				grid-column: span 12;
				margin-bottom: ($gutter / 2);

				& > .logo {
					font: text(t2) $megrim;
					padding: 0;
				}

				@include from(l) {
					padding-left: $gutter;
					text-align: left;
					margin-bottom: 0;
					grid-column: span 8;
				}
			}
		}

		// ESTILOS PARA LOS ANCHOR DEL MENU
		&_link {
			color: color(bodyBg);
			display: inline-block;
			padding: ($gutter / 3);
			font-size: text(small);
			// position: relative;

			&:hover {
				color: color(alertColor);
				text-decoration: none;
			}

			// TEXTO QUE ACOMPAÑA A LOS ICONOS DEL MENU APARTIR DE VIEWMEDIUM
			@include from(m) {
				@at-root .icon-study::after {
					content: "Estudios";
				}
				@at-root .icon-experience::after {
					content: "Experiencia";
				}
				@at-root .icon-projects::after {
					content: "Proyectos";
				}
				@at-root .icon-guide::after {
					content: "Guia";;
				}
				// ESTILOS QUE COMPARTEN TODOS LOS ICONOS
				@at-root .icon-experience::before,
				.icon-guide::before,
				.icon-projects::before,
				.icon-study::before {
					position: relative;
					top: 1px;
					margin-right: ($gutter / 3);
				}
			}
		}
	}

	// ESTILOS DEL BUTTON SCROLLUP
	&-scrollup {
		display: none;
		position: fixed;
		// POSICION DE ACUERDO AL CHAT DE MESSENGER
		// ------------------
		bottom: 35px;
		right: 55px;
		// ------------------
		padding: ($gutter / 3);
		padding-right: ($gutter * 2);
		color: color(bodyBg);
		font-size: text(normal);
		background-color: color(alertColor);
		border-radius: $radius;
		cursor: pointer;

		&.active {
			display: block;
		}

		& > span {
			display: inline-block;
			@include arrowUpDown(.5s,ease-in);
			// position: relative;
			// animation: $animationTopDown;
		}
	}
}

// ESTILOS QUE HACEN QUE EL MENU SEA STICKY
.menuSticky {
	position: fixed;
	background-color: color(bodyBg);
	width: 100%;
	box-shadow: $shadow;

	&-link {
		color: color(textColor);
	}
}
