// CONTENERDOR PROJECTS
.projects {
	@include edContainer();
	padding: 0 $gutter;
	margin-bottom: ($gutter * 3);
	font: text(normal) $lato;

	@include from(m) {
		padding: 0 ($gutter * 5);
	}

	// TITULO DE LA SECCION
	&-title {
		// ESTILOS POR DEFECTO DE LOS TITULOS DE CADA SECCION
		@extend %titleSection;
	}

	// SECIONES DE TEXTO
	&-text {
		// ESTILOS POR DEFECTO DE LOS TEXTOS DE CADA SECCION
		@extend %textSection;
	}

	// CONTENEDOR DE LAS BOXES
	&-content {
		width: 100%;
		// font-family: $lato;
		display: grid;
		grid-template-columns: repeat(12,1fr);
		grid-gap: $gutter;

		// CADA UNA DE LAS BOX
		&_figure {
			border-radius: $radius;
			border: 1px solid color(grayOne);
			@include shadow(color(grayOne));
			margin: 0;
			grid-column: 1 / span 12;

			@include from(400px) {
				grid-column: 2 / span 10;
			}
			@include from(550px) {
				grid-column: 3 / span 8;
			}
			@include from(m) {
				grid-column: span 6;
			}

			@include from(l) {
				grid-column: span 4;
			}
		}

		&_copy {
			position: relative;
			display: flex;
			min-height: em(200px);
			overflow: hidden;

			&:hover > img {
				transform: translate3d(0,-90%,0);
			}
		}

		&_text {
			color: color(grayTwo);
			// font-size: text(normal);
			margin: auto;
			text-align: center;
			padding: 10%;
		}

		&_img {
			// display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			transform: translate3d(0,0,0);
			transition: transform 1s;
		}

		&_figcaption {
			text-align: center;
			border-top: 1px solid color(grayTwo);
			// padding: $gutter;
		}

		&_link {
			display: block;
			color: color(grayTwo);
			// font-size: text(normal);
			padding: $gutter 0;
			transition: background-color .5s;

			&:hover {
				text-decoration: none;
				background-color: color(grayTwo);
				cursor: pointer;
			}
		}
	}
}
