// CONTENERDOR STUDIES
.studiesContent {
	@extend %contentClipPath;
}
.studies {
	@include edContainer();
	color: color(grayTwo);
	font: text(normal) $lato;
	@extend %contentClipPathChild;


	// TITULO DE LA SECCION
	&-title {
		@extend %titleSection;
	}

	// SECIONES DE TEXTO
	&-text {
		@extend %textSection;

		& > a {
			font-weight: bold;
			color: color(grayOne);

			&:hover {
				text-decoration: none;
				color: color(alert);
			}
		}

		&:last-of-type {
			width: 100%;
			margin: $gutter auto;
		}
	}
	// SECCIONES DE LOS CURSOS REALIZADOS
	&-details {
		width: 100%;
		text-align: center;

		@include from(m) {
			width: 50%;
		}

		&_title {
			display: inline-block;
			color: color(grayOne);
			font-size: text(normal);
			font-family: $openSans;
			margin: ($gutter / 2) 0;
			line-height: 1.5;

			&:hover {
				cursor: pointer;
			}
		}
		& > .icon-arrow-right, & > .icon-arrow-down {
			display: inline-block;
			cursor: pointer;
		}

		& > .icon-arrow-right {
			@include arrowLeftRight(.5s,ease-out);
		}

		& > .icon-arrow-down {
			@include arrowUpDown(.5s,ease-out);
		}

		&_content {
			display: flex;
			flex-direction: column;
			max-height: 0;
			overflow: hidden;

			&.enable {
				@include slideDown(1.5s, 300px);
			}
			&.disable {
				@include slideUp(.5s, 300px);
			}
		}
		&_link {
			margin: 0 auto;
			font: text(normal) $lato;
			color: color(grayTwo);
			line-height: 1.5;

			&:hover {
				text-decoration: none;
				color: color(alert);
			}
		}
	}
}
