// CONTENERDOR STUDIES
.studiesContent {
	@extend %contentClipPath;
}
.studies {
	@include edContainer();
	color: color(grayTwo);
	font: text(normal) $lato;
	@extend %contentClipPathChild;


	// TITULO DE LA SECCION
	&-title {
		@extend %titleSection;
	}

	// SECIONES DE TEXTO
	&-text {
		@extend %textSection;

		& > a {
			font-weight: bold;
			color: color(grayOne);

			&:hover {
				text-decoration: none;
				color: color(alert);
			}
		}

		&:last-of-type {
			width: 100%;
			margin: $gutter auto;
		}
	}
	// SECCIONES DE LOS CURSOS REALIZADOS
	&-details {
		width: 100%;
    text-align: center;
    margin-bottom: $gutter;

		@include from(m) {
			width: 50%;
		}

		&_button {
			font-size: text(small);
			line-height: 1.5;
      margin-top: ($gutter / 2);
      @include button(
        color(two),
        inherit,
        color(success),
        color(cream)
      );
		}
		&_link {
			margin: 0 auto;
			font: text(normal) $lato;
			color: color(grayTwo);
			line-height: 1.5;

			&:hover {
				text-decoration: none;
				color: color(alert);
			}
		}
  }
  // Estilos para las tecnologias a mostrar
  &-technologies {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: $gutter;
    margin: 0 auto;

    &_title {
      font: text(normal) $openSans;
      text-align: center;
      color: color(one);
      grid-column: span 4;
    }
    &_item {
      margin: 0;
      grid-column: span 1;
      // max-height: em(100px);
      display: flex;
    }
    &_image {
      margin: auto;
      display: block;
      max-height: em(60px);
    }
  }
}
